.readytouse {
    background-color: #ffffff;
}
.booking {
    background-color: #fbff45;
}
.rencanapulang {
    background-color: #dbdbdb;
}
.readytoclean {
    background-color: #d0a0ff;
}
.waitinglist {
    background-color: #ffc34e;
}
.renovasi {
    background-color: #ff7171;
}
.male {
    background-color: #72d1fa;
}
.female {
    background-color: #fc84b2;
}
.terisi {
    background-color: #0dfa41;
}
